# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
data/
save/
last_preparation.txt
.idea/
[Evaluation Images]/
[Inference Results]/
Old Saves/
[Inference Results]/00016.jpg.jpg
[Inference Results]/00333.jpg.jpg
[Inference Results]/00717.jpg.jpg
[Inference Results]/01115.jpg.jpg
[Inference Results]/01480.jpg.jpg
[Inference Results]/Anči.png.jpg
[Evaluation Images]/00016.jpg
[Evaluation Images]/00333.jpg
[Evaluation Images]/00717.jpg
[Evaluation Images]/01115.jpg
[Evaluation Images]/01480.jpg
[Evaluation Images]/Anči.png
00001.jpg.jpg
[Evaluation Images]/00001.jpg
[Evaluation Images]/00002.jpg
[Evaluation Images]/00003.jpg
[Evaluation Images]/00004.jpg
[Evaluation Images]/00005.jpg
[Evaluation Images]/00006.jpg
[Evaluation Images]/00007.jpg
[Evaluation Images]/00008.jpg
[Evaluation Images]/00009.jpg
[Evaluation Images]/00010.jpg
[Evaluation Images]/00011.jpg
[Evaluation Images]/00012.jpg
[Evaluation Images]/00013.jpg
[Evaluation Images]/00014.jpg
[Evaluation Images]/00015.jpg
[Evaluation Images]/00017.jpg
[Evaluation Images]/00018.jpg
[Evaluation Images]/00019.jpg
[Evaluation Images]/00020.jpg
[Evaluation Images]/00021.jpg
[Evaluation Images]/00022.jpg
[Evaluation Images]/00023.jpg
[Evaluation Images]/00024.jpg
[Evaluation Images]/00025.jpg
[Evaluation Images]/00026.jpg
[Evaluation Images]/00027.jpg
[Evaluation Images]/00028.jpg
[Evaluation Images]/00029.jpg
[Evaluation Images]/00030.jpg
[Evaluation Images]/00031.jpg
[Evaluation Images]/00032.jpg
[Evaluation Images]/00033.jpg
[Evaluation Images]/00034.jpg
[Evaluation Images]/00035.jpg
[Evaluation Images]/00036.jpg
[Evaluation Images]/00037.jpg
[Evaluation Images]/00038.jpg
[Evaluation Images]/00039.jpg
[Evaluation Images]/00040.jpg
[Evaluation Images]/00041.jpg
[Evaluation Images]/00042.jpg
[Evaluation Images]/00043.jpg
[Evaluation Images]/00044.jpg
[Evaluation Images]/00045.jpg
[Evaluation Images]/00046.jpg
[Evaluation Images]/00047.jpg
[Evaluation Images]/00048.jpg
[Evaluation Images]/00049.jpg
[Evaluation Images]/00050.jpg
[Evaluation Images]/00051.jpg
[Evaluation Images]/00052.jpg
[Evaluation Images]/00053.jpg
[Evaluation Images]/00054.jpg
[Evaluation Images]/00055.jpg
[Evaluation Images]/00056.jpg
[Evaluation Images]/00057.jpg
[Evaluation Images]/00058.jpg
[Evaluation Images]/00059.jpg
[Evaluation Images]/00060.jpg
[Evaluation Images]/00061.jpg
[Evaluation Images]/00062.jpg
[Evaluation Images]/00063.jpg
[Evaluation Images]/00064.jpg
[Evaluation Images]/00065.jpg
[Evaluation Images]/00066.jpg
[Evaluation Images]/00067.jpg
[Evaluation Images]/00068.jpg
[Evaluation Images]/00069.jpg
[Evaluation Images]/00070.jpg
[Evaluation Images]/00071.jpg
[Evaluation Images]/00072.jpg
[Evaluation Images]/00073.jpg
[Evaluation Images]/00074.jpg
[Evaluation Images]/00075.jpg
[Evaluation Images]/00076.jpg
[Evaluation Images]/00077.jpg
[Evaluation Images]/00078.jpg
[Evaluation Images]/00079.jpg
[Evaluation Images]/00080.jpg
[Evaluation Images]/00081.jpg
[Evaluation Images]/00082.jpg
[Evaluation Images]/00083.jpg
[Evaluation Images]/00084.jpg
[Evaluation Images]/00085.jpg
[Evaluation Images]/00086.jpg
[Evaluation Images]/00087.jpg
[Evaluation Images]/00088.jpg
[Evaluation Images]/00089.jpg
[Evaluation Images]/00090.jpg
[Evaluation Images]/00091.jpg
[Evaluation Images]/00092.jpg
[Evaluation Images]/00093.jpg
[Evaluation Images]/00094.jpg
[Evaluation Images]/00095.jpg
[Evaluation Images]/00096.jpg
[Evaluation Images]/00097.jpg
[Evaluation Images]/00098.jpg
[Evaluation Images]/00099.jpg
[Evaluation Images]/00100.jpg
[Evaluation Images]/00101.jpg
[Evaluation Images]/00102.jpg
[Evaluation Images]/00103.jpg
[Evaluation Images]/00104.jpg
[Inference Results]/00002.jpg.jpg
[Inference Results]/00003.jpg.jpg
[Inference Results]/00004.jpg.jpg
[Inference Results]/00005.jpg.jpg
[Inference Results]/00006.jpg.jpg
[Inference Results]/00007.jpg.jpg
[Inference Results]/00008.jpg.jpg
[Inference Results]/00009.jpg.jpg
[Inference Results]/00010.jpg.jpg
[Inference Results]/00011.jpg.jpg
[Inference Results]/00012.jpg.jpg
[Inference Results]/00013.jpg.jpg
[Inference Results]/00014.jpg.jpg
[Inference Results]/00015.jpg.jpg
[Inference Results]/00017.jpg.jpg
[Inference Results]/00018.jpg.jpg
[Inference Results]/00019.jpg.jpg
[Inference Results]/00020.jpg.jpg
[Inference Results]/00021.jpg.jpg
[Inference Results]/00022.jpg.jpg
[Inference Results]/00023.jpg.jpg
[Inference Results]/00024.jpg.jpg
[Inference Results]/00025.jpg.jpg
[Inference Results]/00026.jpg.jpg
[Inference Results]/00027.jpg.jpg
[Inference Results]/00028.jpg.jpg
[Inference Results]/00029.jpg.jpg
[Inference Results]/00030.jpg.jpg
[Inference Results]/00031.jpg.jpg
[Inference Results]/00032.jpg.jpg
[Inference Results]/00033.jpg.jpg
[Inference Results]/00034.jpg.jpg
[Inference Results]/00035.jpg.jpg
[Inference Results]/00036.jpg.jpg
[Inference Results]/00037.jpg.jpg
[Inference Results]/00038.jpg.jpg
[Inference Results]/00039.jpg.jpg
[Inference Results]/00040.jpg.jpg
[Inference Results]/00041.jpg.jpg
[Inference Results]/00042.jpg.jpg
[Inference Results]/00043.jpg.jpg
[Inference Results]/00044.jpg.jpg
[Inference Results]/00045.jpg.jpg
[Inference Results]/00046.jpg.jpg
[Inference Results]/00047.jpg.jpg
[Inference Results]/00048.jpg.jpg
[Inference Results]/00049.jpg.jpg
[Inference Results]/00050.jpg.jpg
[Inference Results]/00051.jpg.jpg
[Inference Results]/00052.jpg.jpg
[Inference Results]/00053.jpg.jpg
[Inference Results]/00054.jpg.jpg
[Inference Results]/00055.jpg.jpg
[Inference Results]/00056.jpg.jpg
[Inference Results]/00057.jpg.jpg
[Inference Results]/00058.jpg.jpg
[Inference Results]/00059.jpg.jpg
[Inference Results]/00060.jpg.jpg
[Inference Results]/00061.jpg.jpg
[Inference Results]/00062.jpg.jpg
[Inference Results]/00063.jpg.jpg
[Inference Results]/00064.jpg.jpg
[Inference Results]/00065.jpg.jpg
[Inference Results]/00066.jpg.jpg
[Inference Results]/00067.jpg.jpg
[Inference Results]/00068.jpg.jpg
[Inference Results]/00069.jpg.jpg
[Inference Results]/00070.jpg.jpg
[Inference Results]/00071.jpg.jpg
[Inference Results]/00072.jpg.jpg
[Inference Results]/00073.jpg.jpg
[Inference Results]/00074.jpg.jpg
[Inference Results]/00075.jpg.jpg
[Inference Results]/00076.jpg.jpg
[Inference Results]/00077.jpg.jpg
[Inference Results]/00078.jpg.jpg
[Inference Results]/00079.jpg.jpg
[Inference Results]/00080.jpg.jpg
[Inference Results]/00081.jpg.jpg
[Inference Results]/00082.jpg.jpg
[Inference Results]/00083.jpg.jpg
[Inference Results]/00084.jpg.jpg
[Inference Results]/00085.jpg.jpg
[Inference Results]/00086.jpg.jpg
[Inference Results]/00087.jpg.jpg
[Inference Results]/00088.jpg.jpg
[Inference Results]/00089.jpg.jpg
[Inference Results]/00090.jpg.jpg
[Inference Results]/00091.jpg.jpg
[Inference Results]/00092.jpg.jpg
[Inference Results]/00093.jpg.jpg
[Inference Results]/00094.jpg.jpg
[Inference Results]/00095.jpg.jpg
[Inference Results]/00096.jpg.jpg
[Inference Results]/00097.jpg.jpg
[Inference Results]/00098.jpg.jpg
[Inference Results]/00099.jpg.jpg
[Inference Results]/00100.jpg.jpg
[Inference Results]/00101.jpg.jpg
[Inference Results]/00102.jpg.jpg
[Inference Results]/00103.jpg.jpg
[Inference Results]/00104.jpg.jpg
